.hero{
    display:flex;
    padding: 50px 0;
    align-items:center;
    flex-direction:column;
    gap:35px;
    text-align: center;
}
.hero h1{
    font-size: 90px;
    text-align: center;
    width:70%;
    font-size:60px;
    font-weight: 600;
    

}
.hero-action{
    display:flex;
    gap:25px;
    justify-content:center;
    align-items:center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding:30px 45px;
    border-radius:50px;
    cursor:pointer;
    
   
   /* display:flex;
    gap:25px;
    justify-content:center;
    align-items:center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;*/
}
.hero-resume{
    padding:10px 45px;
    border-radius:50px;
    cursor:pointer;
    border:2px solid;
    /*display:flex;
    gap:25px;
    justify-content:center;
    align-items:center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;*/
}
.hero-connect:hover{
    border: 2px solid #f5f5f5;
   
}
.hero-resume:hover{
    border-color: #b415FF;
   
}